BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
NamespaceIndentation: None
IndentAccessModifiers: false
AccessModifierOffset: -4

SpaceBeforeParens: Never

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: true

ColumnLimit: 120

SortIncludes: true
IncludeBlocks: Preserve

SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: true